* {
    box-sizing: border-box;
}

.carousel-caption {
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
}

.border1px {
    border: 1px solid lightgray;
}

.working-bg {
    background: #F4FAFD;
}

.working-h {
    height: 800px;
}

.all-bg {
    background: #289BDE;
}

.accordion-max-w {
    max-width: 800px;
}